// @import url('https://fonts.googleapis.com/css2?family=Inter&family=Roboto:wght@400;500&display=swap')

@font-face {
  font-family: "wt-symbols";
  src: url(https://wtvehiclesapi.sgambe.serv00.net/assets/locales/wt_symbols.ttf) format("TrueType");
}

@font-face {
  font-family: "PTRootUIWebLight";
  src: url("../assets/pt-root-ui_light.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
