@import "fonts.scss";

$vehicle-name-font: "wt-symbols", Verdana;

$tree-background-color: #242e33;

$header-background-color: #020c15;
$header-hover-color: #1b242c;
$header-active-color: #323a42;

$header-text-color: #afb3b5;


$grad-regular-top: #283a44;
$grad-regular-bot: #314756;

$grad-prem-top: #322c18;
$grad-prem-bot: #443e27;