@use "/src/styles/variables.scss" as *;

.item {
  width: 175px;
  height: 60px;
  // padding: 4px;
  //   border: red 1px solid;
  overflow: hidden;
  display: flex;
  position: relative;

  &__wrapper--own {
    background-image: linear-gradient(to top, $grad-regular-bot, $grad-regular-top);
    // background-image: url('../../assets/f_sq.png');
    background-size: contain;
    flex-grow: 1;
    width: 100%;
    border: $grad-regular-bot 1px solid;
  }

  &__wrapper--prem {
    background-image: linear-gradient(to top, $grad-prem-bot, $grad-prem-top);
    flex-grow: 1;
    width: 100%;
    border: $grad-prem-bot 1px solid;
  }

  &__image {
    position: absolute;
    height: 100%;
    img {
      height: 100%;
      margin-top: 2px;
    }
  }

  &__text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;

    height: 100%;
    width: 100%;
    padding: 6px 5px 5px;
    overflow: hidden;

    color: white;
    font-size: 15px;
    text-align: right;
  }

  &__id {
    overflow: hidden;
    text-wrap: nowrap;
  }

  &__type {
    display: inline-block;
    width: 12px;
    height: 0.8em;
    margin-left: 4px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 50% 50%;

    &--fighter {
      color: $types-aviation-fighter;
    }

    &--stormovik {
      color: $types-aviation-attack;
    }

    &--bomber,
    &--divebomber {
      color: $types-aviation-bomber;
    }

    &--lighttank {
      color: $types-army-light;
    }

    &--mediumtank {
      color: $types-army-medium;
    }

    &--heavytank {
      color: $types-army-heavy;
    }

    &--tankdestroyer {
      color: $types-army-destroyer;
    }

    &--spaa {
      color: $types-army-spaa;
    }

    // &--torpedoboat,
    // &--minelayer,
    // &--ship {
    //   background-image: url("../../assets/types/f_torp.webp");
    // }

    // &--submarinechaser,
    // &--gunboat {
    //   background-image: url("../../assets/types/f_hunt.webp");
    // }

    // &--navalferrybarge {
    //   background-image: url("../../assets/types/f_spaa.webp");
    // }

    // &--torpedogunboat {
    //   background-image: url("../../assets/types/f_freg.webp");
    // }
  }
}
