@use "/src/styles/variables.scss" as *;

.item {
  width: 130px;
  height: 48px;
  //   border: red 1px solid;
  overflow: hidden;
  display: flex;
  position: relative;

  &__wrapper--own {
    background-image: linear-gradient(to top, $grad-regular-bot, $grad-regular-top);
    flex-grow: 1;
    width: 100%;
    border: $grad-regular-bot 1px solid;
  }

  &__wrapper--prem {
    background-image: linear-gradient(to top, $grad-prem-bot, $grad-prem-top);
    flex-grow: 1;
    width: 100%;
    border: $grad-prem-bot 1px solid;
  }

  &__image {
    position: absolute;
    height: 100%;
    img {
      height: 100%;
      margin-top: 2px;
    }
  }

  &__text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;

    height: 100%;
    width: 100%;
    padding: 3px;
    overflow: hidden;

    color: white;
    font-size: 12px;
    text-align: right;
  }

  &__id {
    overflow: hidden;
    text-wrap: nowrap;
  }

  &__type {
    display: inline-block;
    // width: 10px;
    // height: 10px;
    // margin-left: 4px;
  }
}
