@use "/src/styles/variables.scss" as *;

.item {
  width: 175px;
  height: 60px;
  // padding: 4px;
  //   border: red 1px solid;
  overflow: hidden;
  display: flex;
  position: relative;

  &__wrapper--own {
    background-image: linear-gradient(to top, $grad-regular-bot, $grad-regular-top);
    // background-image: url('../../assets/f_sq.png');
    background-size: contain;
    flex-grow: 1;
    width: 100%;
    border: $grad-regular-bot 1px solid;
  }

  &__wrapper--prem {
    background-image: linear-gradient(to top, $grad-prem-bot, $grad-prem-top);
    flex-grow: 1;
    width: 100%;
    border: $grad-prem-bot 1px solid;
  }

  &__image {
    position: absolute;
    height: 100%;
    img {
      height: 100%;
      margin-top: 2px;
    }
  }

  &__text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;

    height: 100%;
    width: 100%;
    padding: 6px 5px 5px;
    overflow: hidden;

    color: white;
    font-size: 15px;
    text-align: right;
  }

  &__id {
    overflow: hidden;
    text-wrap: nowrap;
  }

  &__type {
    display: inline-block;
    width: 12px;
    height: 0.8em;
    margin-left: 4px;
    background-image: url('../../assets/types/a_a.webp');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 50% 50%;

    // border: red 1px solid;
  }
}
