@use "/src/styles/variables.scss" as *;

.header {
  position: sticky;
  top: 0;

  color: $header-text-color;

  background-color: $header-background-color;

  &__lang-switch {
    position: absolute;
    top: 0;
    right: 0;
  }
}
