@use "/src/styles/variables.scss" as *;

.lang-switch {
  position: relative;
  height: 100%;
  padding: 0 20px;

  &:hover,
  &--open {
    background-color: $header-hover-color;
  }

  &__active {
    display: flex;
    align-items: center;
    height: 100%;
  }

  &__dropdown {
    position: absolute;
    right: 0;

    text-wrap: nowrap;

    background-color: $header-hover-color;
  }

  &__dropdown-item {
    display: flex;
    align-items: center;
    padding: 5px 15px;

    &:hover {
      background-color: $header-active-color;
    }
  }

  &__flag {
    display: inline-block;
    width: 1.4em;
    height: 1em;
    margin-right: 3px;

    background-repeat: no-repeat;
  }
}
