@use "/src/styles/variables.scss" as *;

.total {
    text-align: center;
}

.list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    
    li {
        margin: 5px;
    }
}