@import "/src/styles/variables.scss";
@import "./styles/fonts.scss";

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

* {
  margin: 0;
  padding: 0;
}

a:active,
a:hover,
a {
  text-decoration: none;
  color: black;
}

ul {
  margin: 0;
  padding: 0;
  
  list-style: none;
}

body {
  background-color: $tree-background-color;

  font-family: $vehicle-name-font;
  color: white;
}
